<%- include('../../header.ejs') %>
    <main>
        <h2>
            <%= pageTitle %>
        </h2>

        <form class="form">
            <label for="email">Email:</label>
            <input type="text" name="email" id='Email' value="<%= patient.person.email %>" disabled>

            <label for="name">Name:</label>
            <input type="text" name="name" id="Name" value="<%= patient.person.name %>" disabled>

            <label for="middleName">MiddleName:</label>
            <input type="text" name="middleName" id="MiddleName" value="<%= patient.person.middleName %>" disabled>

            <label for="surname">Surname:</label>
            <input type="text" name="surname" id="Surname" value="<%= patient.person.surname %>" disabled>

            <label for="dateOfBirth">Date of birth:</label>
            <input type="date" name="dateOfBirth" id="DateOfBirth"
                value="<%= moment(patient.person.dateOfBirth).format('YYYY-MM-DD') %>" disabled>
            <span id="errorDateOfBirth"></span>

            <label for="address">Address:</label>
            <input type="text" name="address" id="Address" value="<%= patient.person.address %>" disabled>

            <label for="phoneNumber">Phone number:</label>
            <input type="text" name="phoneNumber" id="Position" value="<%= patient.phoneNumber %>" disabled>

            <label for="dateOfRegistration">Date of registration:</label>
            <input type="date" name="dateOfRegistration" id="DateOfAcceptance"
                value="<%= moment(patient.dateOfRegistration).format('YYYY-MM-DD') %>" disabled>
        </form>

        <div class="form-buttons">
            <a href="/patients/edit/<%= patient.id %> " class="list-actions-button-edit">Edit</a>
        </div>

        <h2>Used drugs and date of prescription</h2>

        <% if (patient.prescriptions.length !=0) { %>
            <table class="table-list">
                <caption></caption>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Date of prescription</th>
                        <th class="hide" scope="col">Note</th>
                        <th scope="col">Dosage</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var presc of patient.prescriptions) { %>
                        <tr>
                            <td>
                                <a href="/prescriptions/details/<%= presc.id %>">
                                    <%= presc.id %>
                                </a>
                            </td>
                            <td>
                                <%= moment(presc.dateOfPrescription).format('YYYY-MM-DD') %>
                            </td>
                            <td class="hide">
                                <%= presc.note %>
                            </td>
                            <td>
                                <%= presc.dosage %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <% } else { %>
                <p>There is no drugs used! Good for us!</p>
                <% } %>

                    <div class="form-buttons">
                        <a href="/patients" class="list-actions-button-details">Back</a>
                    </div>
    </main>

    <%- include('../../footer.ejs') %>